/*  Font and background  */
body {
	font-family: Verdana;
	font-weight: normal;
	color: white;
	text-align: center;
	background-color: black;
}

/*  Main banner  */
h1 {
	font-size: 50px;
}

/*  App Links */
.app-link {
	color: aquamarine;
	font-size: 16px;
}

h2 {
	font-weight: 300;
	font-size: 42px;
}

p {
	color: gray;
	font-size: 21px;
}

.copyright {
	text-align: right;
}